* {
  margin: 0;
  padding: 0;
}

.calculator-board {
  width: 25%;
  padding-bottom: 1px;
  background-color: lightgray;
}

.output-box {
  color: white;
  font-size: 30px;
  text-align: end;
  padding: 10px 2px;
  background-color: #858693;
}

button:hover {
  opacity: 0.9;
  cursor: pointer;
}

button:active {
  opacity: 0.3;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1px;
  margin-top: 1px;
}

.grid-item {
  border: none;
  height: 48px;
  background-color: #e0e0e0;
}

.span-2-col {
  grid-column: 1 / span 2;
}

.bg-orange {
  background-color: #f5913e;
}
